.lyt{

  &-page{
    padding: $gap;
  }

  &-container{
    width: 100%;
    // max-width: 768px;
    // margin: 0 auto;

    & + .lyt-container{
      margin-top: $gap*1.5;
    }
  }

  &-grid{
    display: flex;
  }

  &-col{ 
    @for $i from 1 through 12{
      &-#{$i}{
        padding: $gap/2; 
        width: 100% / 12 * $i;
      }
    }
  }
}