<main class="lyt-page">
  
  <section class="lyt-container">
    <h3>Where would you like to display your campaign?</h3>
    <ng-container *ngFor="let rule of rules.base">
      <app-form [headerTitle]="baseFormTitle"
                [rule]="rule"
                [matchingOptions]="matchingOptions"></app-form>
    </ng-container>
    <button (click)="addForm('base')"><i class="material-icons">add</i> new rule</button>
  
    <h3>Exclusion Rules</h3>
    <ng-container *ngFor="let rule of rules.exclusion">
      <app-form [headerTitle]="excludeFormTitle"
                [rule]="rule"
                [matchingOptions]="matchingOptions"></app-form>
    </ng-container>
    <button (click)="addForm('exclusion')"><i class="material-icons">add</i> new rule</button>
  </section>

</main>