<div class="card">
  <div class="card-header">{{headerTitle}}<i class="material-icons card-close">highlight_off</i></div>
  <div class="card-body">
    <form [formGroup]="form" class="lyt-grid">
      <div class="lyt-col-4">
        <select formControlName="matching">
          <ng-container *ngFor="let option of matchingOptions">
            <option value="{{option.value}}">{{option.display}}</option>
          </ng-container>
        </select>
      </div>
      <div class="lyt-col-8">
        <input formControlName="url" type="text">
      </div>
    </form>
  </div>
</div>